/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap'); */
@import "tailwindcss";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
